name: Build and push Ansible 9 images to GHCR

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  ansible_version: 11

jobs:
  build-and-push-image:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/ansible-images.yml
    with:
      version: ${{ env.ansible_version }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
