name: Build and Push DinD Images to GHCR

on:
  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main

jobs:
  build-and-push-image:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/templates/dind-images.yml
    with:
      image: ${{ matrix.image }}
      version: "latest"
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}