name: Build and push Ansible 12 images to GHCR

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push-image:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/ansible-images.yml
    with:
      version: "12"
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
