name: Build and push misc images

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image: ["minio-client"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to the GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./images_misc/${{ matrix.image }}
          file: ./images_misc/${{ matrix.image }}/Dockerfile
          push: true
          tags: ghcr.io/sickhub/${{ matrix.image }}:${{ inputs.version }}
          platforms: "linux/amd64,linux/arm64"
